<!doctype html>
<html lang="en" class="h-100">

{% if page.description %} {% assign description = page.description %} {% elsif page.abstract %} {% assign description =
page.abstract %} {% else %} {% assign description = "Alberto Jaspe website" %} {% endif %}
{% if page.code %} {% assign thumb_url="https://albertojaspe.net/publications/" | append: page.code | append:
"-thumb.jpg" %} {% else %} {% assign thumb_url="https://albertojaspe.net/assets/img/ajaspe.jpg" %} {% endif %}
{% if page.code %} {% assign this_title=page.title %} {% else %} {% assign this_title="A.Jaspe" | append: " :: " |
append: page.title %} {% endif %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Alberto Jaspe">
    <meta name="keywords"
        content="alberto jaspe, jaspe-villanueva, research, visualization, computer graphics, rendering, GPU, OpenGL, WebGL" />
    <meta name="robots" content="follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ this_title }}" />
    <meta name="twitter:site" content="https://albertojaspe.net" />
    <meta name="twitter:creator" content="@albertojaspe" />
    <meta name="twitter:description" content="{{ description }}" \>
    <meta name="twitter:domain" content="https://albertojaspe.net">
    <meta name="twitter:image" content="{{ thumb_url }}">
    <meta property="og:url" content="https://albertojaspe.net{{ page.url }} " />
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ this_title }}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{thumb_url}}" />

    <title>{{ this_title }}</title>

    <script src="https://kit.fontawesome.com/ad0678276a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4H2HMGXYB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-D4H2HMGXYB');
    </script>


    <!-- Custom styles for this template -->
    <link href={{ "/assets/css/cover.css" | relative_url }} rel="stylesheet">
</head>


<body class="d-flex h-100 text-left text-white bg-dark">
    <div class="main-container d-flex w-100 h-100 mx-auto flex-column">

        <header class="">
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
                        aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-mybrand" href="/index.html">{% unless page.menu_title == "Home" %}Alberto Jaspe{%
                        endunless %}</a>
                    <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
                        <div class="float-end mx-auto">
                            <a href="https://scholar.google.es/citations?user=qv99TYgAAAAJ"><img class="icon-social"
                                    src="/assets/img/gscholar.svg" width="38px" /></a>
                            <a
                                href='&#109;&#97;il&#116;o&#58;&#37;6&#49;j%&#54;&#49;sp&#101;&#64;g&#37;&#54;D&#97;il&#46;com'><img
                                    class="icon-social" src="/assets/img/email.svg" width="36px" /></a>
                            <a href="https://www.linkedin.com/in/albertojaspe"><img class="icon-social"
                                    src="/assets/img/linkedin.svg" width="40px" /></a>
                            <a href="https://orcid.org/0000-0003-3899-308X"><img class="icon-social"
                                    src="/assets/img/orcid.svg" width="32px" /></a>
                            <a href="https://twitter.com/albertojaspe"><img class="icon-social"
                                    src="/assets/img/twitter.svg" width="40px" /></a>
                        </div>
                        <div class="navbar-nav nav-masthead">
                            {% for item in site.pages %}
                            {% if item.menu_title %} <a class="nav-link {% if item.url == page.url %}active{% endif %}"
                                href="{{ item.url }}">{{ item.menu_title }}</a>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </nav>
        </header>

        <main class="my-2">
            <div class="container">
                {{ content }}
            </div>
        </main>

        <footer class="mt-auto text-white-50 text-center">
            <p class="lead text-warning"><em>[Website forever in progress since the begining of times]&trade;</em></p>
        </footer>
    </div>



</body>

</html>