---
layout: default
---
<div class="container pub_row my-5">
    <div class="row text-center">  
        <p><span class="display-6">{{ page.title }}</span></p>
    </div>
    <div class="row text-center">
        {% assign authors2 = page.authors | replace: "Alberto Jaspe-Villanueva", "<span class='brand_color'>Alberto Jaspe-Villanueva</span>" %} 
        <p><span class="lead">{{ authors2 }}</span></p>
    </div>
    <div class="row text-center">
            {% assign pubdatapost = "" %}
            {% if page.journal %}
                {% assign pubdata = page.journal | append: " <span class='text-white-50 fst-italic'>" | append: page.pub-data | append: "</span>" %}
                {% if page.conference %}
                    {% assign pubdatapost = "<br/>Presented at " | append: page.conference %}
                {% endif %}
            {% elsif page.conference %}
                {% assign pubdata = page.conference %}
            {% elsif page.book %}
                {% assign pubdata = page.book | append: "<br/>" | append: page.pub-data %}
            {% endif %}
            <p class="lead fst-italic">{{ pubdata }} <small class="text-white-50 fst-italic">{{ pubdatapost }}</small>
        {% if page.awards %}
        <span class="badge bg-danger">{{ page.awards }}</span>
        {% endif %}</p>
    </div>
	{% unless page.no_teaser %}
    <div class="row text-center my-3">
        {% assign imgpath = "/publications/" | append: page.code | append: "-teaser.jpg" %}
        <img class="w-100" src="{{ imgpath | relative_url}}">
    </div>
	{% endunless %}
    <div class="row m-3">
        <p>
			{% unless page.no_pdf %}
            {% assign pdfpath = "/publications/" | append: page.code | append: ".pdf" %}
            <a href="{{ pdfpath | relative_url}}" class="btn btn-outline-warning">
                <i class="fas fa-file-pdf"></i> Paper PDF</a>
			{% endunless %}
			{% if page.bibtex %}
			<a  class="btn btn-outline-warning" data-bs-toggle="collapse" href="#bibtex" role="button" aria-expanded="false" aria-controls="bibtex">
                <i class="bi bi-body-text"></i> Bibtex</a>
			{% endif %}
			{% if page.doi %}
            <a href="https://doi.org/{{ page.doi }}" class="btn btn-outline-warning">
                <i class="bi bi-bookmark-check"></i> DOI</a>
            {% endif %}
			{% for link in page.links %}
            <a href="{{link.url}}" class="btn btn-outline-warning">
                <i class="bi bi-link-45deg"></i>{{link.name}}</a>
            {% endfor %}
        </p>
        <div class="collapse" id="bibtex">
            <div class="card card-body bg-dark">
                <code><pre>{{ page.bibtex }}</pre></code>
            </div>
        </div>

    </div>
    {% if page.abstract %}
    <div class="row abstract">
            <h4>Abstract</h4>
            <p>
                {{page.abstract}}
            </p>
    </div>
    {% endif %}
    {% if page.youtube %}
    <div class="row">
            <div class="ratio ratio-16x9">
                {% assign youtubeurl = "https://www.youtube.com/embed/" | append: page.youtube %}
                <iframe src="{{ youtubeurl }}" title="YouTube video" allowfullscreen></iframe>
            </div>
    </div>
    {% endif %}
</div>
